<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <meta charset="utf-8" />
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <title>Binding App</title>
  </head>
  <body>
    <h1>Custom Service</h1>
    <div ng-controller="ShoppingListAddController as itemAdder">
      <input
        type="text"
        ng-model="itemAdder.itemName"
        placeholder="item name"
      />
      <input
        type="text"
        ng-model="itemAdder.itemQuantity"
        placeholder="quantity"
      />
      <!-- place item in data structure -->
      <button type="button" name="button" ng-click="itemAdder.addItem()">
        Add Item
      </button>
      <button ng-click="itemAdder.printToConsole()">PrintToConsole</button>
    </div>
    <div ng-controller="ShoppingListShowController as showList">
      <ol>
        <li ng-repeat="item in showList.items">
          {{ item.quantity }} items of {{ item.name }}
          <button ng-click="showList.removeItem($index)">Remove</button>
        </li>
      </ol>
    </div>
  </body>
</html>
