<!DOCTYPE html>
<html lang="en" ng-app="ShoppingListComponentApp">
  <head>
    <meta charset="utf-8" />
    <script src="jquery-3.4.1.js" charset="utf-8"></script>
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Directives With Their Own Controllers</title>
  </head>
  <body>
    <h1>Directives With Their Own Controllers</h1>
    <div ng-controller="ShoppingListController as list1">
      <input type="text" ng-model="list1.itemName" placeholder="item name" />
      <input type="text" ng-model="list1.itemQuantity" placeholder="quantity" />
      <!-- place item in data structure -->
      <button type="button" name="button" ng-click="list1.addItem()">
        Add Item
      </button>
      <button ng-click="list1.printToConsole()">list.PrintToConsole</button>
      <br>
      <span ng-if="list1.lastItemRemoved">Last Item Removed: {{ list1.lastItemRemoved }}</span>

      <shopping-list
        items="list1.items"
        title="{{list1.title}}"
        on-remove="list1.removeItem(indexArg)">
      </shopping-list>
    </div>
  </body>
</html>
