<!DOCTYPE html>
<html lang="en" ng-app="App">
  <head>
    <meta charset="utf-8" />
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Directive With Restrict</title>
  </head>
  <body>
    <h1>Shopping List #1</h1>
    <div ng-controller="ShoppingListController1 as list">
      <input type="text" ng-model="list.itemName" placeholder="item name" />
      <input type="text" ng-model="list.itemQuantity" placeholder="quantity" />
      <!-- place item in data structure -->
      <button type="button" name="button" ng-click="list.addItem()">
        Add Item
      </button>
      <button ng-click="list.printToConsole()">list.PrintToConsole</button>
      <shopping-list my-list="list" title="{{list1.title}}"></shopping-list>
      <div ng-show="list.errorMessage" class="error">Error: {{ list.errorMessage }}</div>
    </div>
    <h1>Shopping List #2 (limited to 3 items)</h1>
    <div ng-controller="ShoppingListController2 as list2">
      <input type="text" ng-model="list2.itemName" placeholder="item name" />
      <input type="text" ng-model="list2.itemQuantity" placeholder="quantity" />
      <!-- place item in data structure -->
      <button type="button" name="button" ng-click="list2.addItem()">
        Add Item
      </button>
      <button ng-click="list2.printToConsole()">list.PrintToConsole</button>
      <shopping-list my-list="list2" title="{{list2.title}}"></shopping-list>
      <div ng-if="list2.errorMessage" class="error">Error: {{ list.errorMessage }}</div>
    </div>
  </body>
</html>
